.backButton {
  position: fixed;
  top: 85px;       
  left: 25px;
  padding: 8px 15px;
  font-size: 15px;
  font-weight: 500;
  background: white;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: .2s ease;
  z-index: 900;
}

.backButton:hover {
  background: #fff;
  transform: translateX(-3px);
}
